.section-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: $primaryColor1;

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.571429px;
  }
}

.intro-section {
  position: relative;
  padding: 250px 0 170px 10%;
  background: url('../assets/img/bg-intro-desktop.svg') top -180px right -500px no-repeat;

  @media (max-width: 1250px) {
    background: url('../assets/img/bg-intro-desktop.svg') top -180px right -600px no-repeat;
  }

  @media (max-width: 1150px) {
    background: url('../assets/img/bg-intro-desktop.svg') top -180px right -700px no-repeat;
  }

  @media (max-width: 1024px) {
    text-align: center;
    padding: 0 60px 88px;
    background: url('../assets/img/bg-intro-mobile.svg') top center/100% 550px no-repeat;
  }

  @media (max-width: 800px) {
    text-align: center;
    padding: 400px 24px 88px;
    background: url('../assets/img/bg-intro-mobile.svg') top center/100% 400px no-repeat;
  }

  @media (max-width: 450px) {
    background: url('../assets/img/bg-intro-mobile.svg') top center/100% 350px no-repeat;
  }

  &:before {
    content: '';
    position: absolute;
    top: -42px;
    right: -114px;
    display: block;
    width: 732px;
    height: 901px;
    background: url('../assets/img/image-mockups.png') top right/contain no-repeat;

    @media (max-width: 1250px) {
      right: -180px;
    }

    @media (max-width: 1150px) {
      right: -250px;
    }

    @media (max-width: 1024px) {
      position: relative;
      background: url('../assets/img/image-mockups.png') top center/contain no-repeat;
      top: auto;
      left: 0;
      right: 0;
      padding-top: 100%;
      height: auto;
      margin: -195px auto auto;
      width: calc(100% - 120px);
    }

    @media (max-width: 800px) {
      width: 100%;
      margin-top: -500px;
    }

    @media (max-width: 500px) {
      margin-top: -400px;
    }
  }

  .intro-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 450px;

    @media (max-width: 1024px) {
      margin: auto;
      max-width: 560px;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 800px) {
      max-width: 100%;
    }

    h1 {
      font-weight: 300;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -1px;
      color: $primaryColor1;

      @media (max-width: 800px) {
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -0.714286px;
      }
    }

    p {
      margin: 24px 0 36px;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.28125px;
      color: $neutralColor1;

      @media (max-width: 800px) {
        margin: 16px 0 32px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.234375px;
      }
    }

  }
}

.arguments-section {
  padding: 96px 10%;
  background: $neutralColor2;

  @media (max-width: 1024px) {
    padding: 64px 10%;
  }

  @media (max-width: 800px) {
    padding: 64px 24px;
  }

  .section-intro-content {
    max-width: 635px;
    margin-bottom: 72px;

    @media (max-width: 800px) {
      max-width: 100%;
      margin-bottom: 56px;
      text-align: center;
    }

    p {
      margin-top: 16px;
      color: $neutralColor1;
    }
  }

  .arguments {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      margin-bottom: -50px;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: -32px;
    }

    .argument {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: calc((100% - 150px) / 4);

      @media (min-width: 1025px) {
        &:not(:last-child) {
          margin-right: 50px;
        }
      }

      @media (min-width: 801px) and (max-width: 1024px) {
        width: calc((100% - 50px) / 2);
        margin-bottom: 50px;

        &:first-child,
        &:nth-child(3n) {
          margin-right: 50px
        }
      }

      @media (max-width: 800px) {
        width: 100%;
        margin-bottom: 32px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      img {
        margin-bottom: 40px;

        @media (max-width: 800px) {
          margin-bottom: 24px;
        }
      }

      h3 {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.428571px;
        color: $primaryColor1;
        margin-bottom: 26px;

        @media (max-width: 800px) {
          margin-bottom: 16px;
        }
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.25px;
        color: $neutralColor1;
      }
    }
  }
}

.news-section {
  padding: 80px 10%;
  background: #fafafa;

  @media (max-width: 800px) {
    padding: 80px 24px;
  }

  .news-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 40px;

    @media (max-width: 800px) {
      flex-direction: column;
      margin-top: 31px;
    }
  }

  .article-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 90px) / 4);
    background: $white;

    @media (min-width: 1101px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    @media (min-width: 801px) and (max-width: 1100px) {
      width: calc((100% - 30px) / 2);
      margin-bottom: 30px;

      &:first-child,
      &:nth-child(3n) {
        margin-right: 30px
      }
    }

    @media (max-width: 800px) {
      width: 100%;
      margin-bottom: 24px;
    }

    &:hover {
      .article-content {
        .article-title {
          color: $primaryColor2;
        }
      }
    }

    .article-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .article-img {
      background-position: center;
      background-size: cover;
      padding-top: 55%;
      width: 100%;
    }

    img {
      max-width: 100%;
      max-height: 200px;
    }

    .article-content {
      margin-top: auto;
      padding: 24px;

      .article-author {
        font-weight: normal;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: -0.15625px;
        color: $neutralColor1;
      }

      .article-title {
        margin: 8px 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.285714px;
        color: $primaryColor1;
        transition: color .3s ease-in-out;
      }

      .article-brief {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.203125px;
        color: $neutralColor1;
      }
    }
  }
}

footer {
  display: flex;
  align-items: stretch;
  padding: 48px 10%;
  background: $primaryColor1;

  @media (max-width: 1024px) {
    padding: 40px 60px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .columns {
    display: flex;
    flex-direction: column;

    .footer-link {
      font-weight: normal;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: -0.234375px;
      color: $white;
      transition: color .3s ease-in-out;

      @media (max-width: 800px) {
        text-align: center;
      }

      &:hover {
        color: $primaryColor2;
      }
    }

    &.second-col,
    &.third-col {
      a {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        @media (max-width: 800px) {
          margin: 0 0 8px;
        }
      }
    }
  }

  .first-col {
    .social-footer {
      margin-top: auto;
      display: flex;
      align-items: center;

      @media (max-width: 800px) {
        margin: 32px 0;
      }

      a {
        svg path {
          transition: fill .3s ease-in-out;
        }

        &:hover {
          svg path {
            fill: $primaryColor2;
          }
        }

        &:not(:last-child) {
          margin-right: 14px;
        }
      }
    }
  }

  .second-col {
    margin: 0 110px;

    @media (max-width: 1024px) {
      margin: 0 60px;
    }

    @media (max-width: 800px) {
      margin: 0;
    }
  }

  .fourth-col {
    align-items: flex-end;
    text-align: right;
    margin-left: auto;

    @media (max-width: 800px) {
      align-items: center;
      text-align: center;
      margin: 32px 0 0;
    }

    .site-btn {
      position: relative;

      &:hover {
        opacity: 1;

        &:before {
          opacity: .4;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: $white;
        opacity: 0;
        border-radius: 22px;
        transition: opacity .3s ease-in-out;
      }
    }

    p {
      margin-top: auto;
      font-weight: normal;
      font-size: 15px;
      line-height: 26px;
      text-align: right;
      letter-spacing: -0.234375px;
      color: $white;
      opacity: .5;

      @media (max-width: 800px) {
        text-align: center;
        margin-top: 24px;
      }
    }
  }
}
